body {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

input, button {
  width: 90%;
  padding: 10px;
  margin: 5px 0;
  font-size: 16px;
}

button {
  background: #222;
  color: white;
  border: none;
  border-radius: 6px;
}

ul {
  list-style: none;
  padding: 0;
}

#scoreboard {
  position: fixed;
  right: 10px;
  top: 80px;
  width: 160px;
  border-left: 2px solid #ddd;
  padding-left: 10px;
  background: #fafafa;
}

#scoreboard ul {
  list-style: none;
  padding: 0;
}
